asgiref==3.2.3
Django==2.2.11
djangorestframework==3.11.0
pytz==2019.3
redis==3.3.11
sqlparse==0.3.0
django-websocket-redis==0.6.0
jsonfield==3.1.0
dj-redis-url==0.1.4
django-redis==4.11.0
gevent==20.5.0
greenlet==0.4.15
wsaccel==0.6.2
gunicorn==19.9.0
uWSGI==2.0.18
uwsgitop==0.11
psycopg2-binary==2.8.3
python-dotenv==0.13.0